meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Manejo integrado de la desnutrición aguda en niño menor de cinco (5) años
meta(meta name="description" content="El país cuenta con reglamentación mediante la cual se adoptan los indicadores antropométricos, patrones de referencia y puntos de corte para la clasificación antropométrica del estado nutricional de niños, niñas y adolescentes menores de 18 años de edad, adultos de 18 a 64 años de edad y gestantes adultas. En esta unidad se presentan los aspectos relacionados con la clasificación nutricional según indicadores antropométricos y toma de medidas antropométricas aplicables para los niños y niñas menores de cinco (5) años de edad.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")