h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Clasificar nutricionalmente al niño menor de cinco (5) años a partir de los resultados de la valoración antropométrica y normatividad vigente.




