.container
    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white
        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th(style="width:160px") Enlace del recurso

            tbody
                tr
                    td Taller Creativo de Aleida Sánchez B. (12 de mayo de 2017). Toma de medidas antropométricas. [Video]. Youtube.
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=R73tLpmMnF4 ", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver