include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas
 

    .jumbotron.bg-white.referencias

        +referenciaItem("Ministerio de Salud y Protección Social. (14 de junio de 2016). Resolución 2465 de 2016. Por la cual se adoptan los indicadores antropométricos, patrones de referencia y puntos de corte para la clasificación antropométrica del estado nutricional de niñas, niños y adolescentes menores de 18 años de edad, adultos de 18 a 64 años de edad y gestantes adultas y se dictan otras disposiciones. Diario Oficial N° 49.926.","https://www.minsalud.gov.co/Normatividad_Nuevo/Resolucion%202465%20de%202016.pdf")

        +referenciaItem("Taller Creativo de Aleida Sánchez B.(12 de mayo de 2017). Toma de medidas antropométricas. [Video]. Youtube. ","https://www.youtube.com/watch?v=R73tLpmMnF4") 

        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            