.container

    .header-ecored
        h1 Introducción

    .card
        .card-body.p-5
            .row.justify-content-center.mx-3.mt-4
                .col-9
                    p Para poder identificar plenamente a un niño o niña con desnutrición aguda, se hace indispensable realizar una correcta toma de medidas antropométricas y una clasificación nutricional, a partir de los datos obtenidos; así, el niño o niña podrá ser identificado oportunamente y recibir el manejo establecido en el país.
                    p.mt-4 El primer paso para la identificación del niño o niña con desnutrición, es la valoración antropométrica a través de la toma de las medidas que, para este caso, corresponde a la obtención de los datos de peso y talla, para ubicar los resultados en los patrones de referencia, y de circunferencias como la del brazo, con el cual está asociado el riesgo de mortalidad por desnutrición (no reemplaza la toma de peso y talla). Para este proceso, se hace necesario cumplir, al menos, con dos requisitos: disponer de los equipos e instrumentos adecuados en buen estado y calibrados para la obtención de datos confiables y precisos. El segundo requisito es que el personal que va a realizar la valoración antropométrica, se encuentre capacitado y aplique las técnicas recomendadas para la toma de los datos. Estos aspectos son muy importantes y deben considerarse cuidadosamente porque, en lo que se refiere al objetivo de este programa, se trata de niñas y niños muy pequeños y normalmente se va a necesitar de una segunda persona, para la toma de las mediciones.

                .col-3
                    img(src="assets/images/pages/tema-1/tema-1-1.svg").img-fluid
                
                p.my-5.mx-3 Puede existir una gran variedad de equipos e instrumentos para la toma de medidas, con múltiples características. Lo mismo sucede con las técnicas que se pueden implementar para la toma de los datos. Es por eso, que se debe procurar estandarizar, tanto los equipos e instrumentos, como la técnica de las mediciones. En nuestro país, se definieron unos mínimos para ser cumplidos por todos aquellos que requieran o deban hacer valoración antropométrica, y se presentan en el anexo técnico de la Resolución 2465 de 2016. En este componente formativo, se hace una presentación de aquellas condiciones, mínimas, que se deben tener en cuenta para la toma de medidas antropométricas.

    .header-ecored
        h1#tema-1 1. Toma de medidas antropométricas

    .card
        .card-body.p-5
            .row.justify-content-center.mx-3.mt-4
                .col-9
                    p Para la toma de medidas antropométricas, el anexo de la Resolución 2465 de 2016, presenta una serie de condiciones, mínimas, que deben tenerse en cuenta para esta práctica, como también el material de los instrumentos a utilizar.
                    p.mt-3 Se requiere responsabilidad al momento de obtener los datos, de tal manera que sean los más fidedignos posible. Es importante realizar un proceso periódico de estandarización, en la toma de las medidas antropométricas, al personal que realiza las valoraciones, y que las instituciones cuenten con equipos para las mediciones en condiciones adecuadas y acordes con la edad, en la que se incluya la calibración periódica y el mantenimiento necesario, que deben estar debidamente soportados en las hojas de vida de los equipos.
                    p.mt-3 Para la toma de las medidas antropométricas, se van a requerir los siguientes instrumentos:
                .col-3.pl-5
                    img(src="assets/images/pages/tema-1/tema-1-2.svg").img-fluid
            
            .row.mx-3.mt-4
                .col-12
                        h3.font-weight-bold.color-naranja a. Para niños y niñas menores de 2 años

                .row.mx-3.mt-4
                    .col-5.bg-verde-oscuro.px-4.pt-6.pb-5.texto-verde-strong
                        p #[strong Para la toma de peso:] pesa bebé o balanza de pie (para pesar a la madre y al niño o niña de forma simultánea, cuando no se dispone de pesabebé).
                        .col-12.d-flex.align-items-center.mt-5.ml-3
                            img(src="assets/images/pages/tema-1/tema-1-3.svg").img-fluid
                    .col-6.ml-1
                        .row
                            .col-12.bg-verde-oscuro.text-center.py-3
                                p.font-weight-bold Consultorio o sitio fijo 
                        .row
                            .col-12.bg-verde-claro.p-4.mt-1
                                p.font-weight-bold Balanza pesabebé
                                p - Capacidad: 20 - 25 kg.
                                p - Precisión: 10 a 20 g.
                                p - Mecanismo: electrónica, digital o de brazo mecánica. 
                        .row
                            .col-12.bg-verde-oscuro.text-center.py-3.mt-1
                                p.font-weight-bold Trabajo de campo
                        .row
                            .col-12.bg-verde-claro.p-4.mt-1
                                p.font-weight-bold Balanza con portabebés y calzoncitos
                                p - Capacidad: 25 kg.
                                p - Precisión 50 a 100 g, la cual debe contar con calibrador o diferencia de pesos o con una sensibilidad menor (100g).
                                p.font-weight-bold.mt-1 Pasabebé digital de baterías 
                                p - Capacidad: 20 - 25 kg.
                                p - Precisión: 50 g o menos
                    
                .row.mx-3.mt-2
                    .col-5.bg-verde-oscuro.px-4.pt-6.pb-5.texto-verde-strong
                        .col-12.pt-7
                            p #[strong Para la toma de la longitud:] infantómetro. Este instrumento es el equivalente al tallímetro, el cual es utilizado para tomar la longitud en niñas y niños menores de dos años.
                        .col-12.d-flex.align-items-center.mt-5.ml-3
                            img(src="assets/images/pages/tema-1/tema-1-4.svg").img-fluid
                    .col-6.ml-1
                        .row
                            .col-12.bg-verde-oscuro.text-center.py-3
                                p.font-weight-bold Consultorio o sitio fijo 
                        .row
                            .col-12.bg-verde-claro.p-4.mt-1
                                p.font-weight-bold Infantómetro
                                p - Precisión: 1 mm
                                p - Capacidad:110 a 120 cm.
                                p - Material de fabricación: resistente, liviano y no deformable; sistema rodante, no inestable.
                                p - Cinta métrica metálica: ubicada a un lado, y no en la mitad del equipo.
                                p.mt-3 Garantizar 90º de espaldar, con una base de 25 cm de ancho y pieza móvil rodante, que le permita al niño o niña acostarse.
                                p.mt-3 No se recomienda el uso de infantómetros, en materiales susceptibles a dilatación en diferentes ambientes (temperatura).
                        .row
                            .col-12.bg-verde-oscuro.text-center.py-3.mt-1
                                p.font-weight-bold Trabajo de campo
                        .row
                            .col-12.bg-verde-claro.p-4.mt-1
                                p.font-weight-bold Infantómetro portátil
                                p - Precisión: 1 mm. 
                                p - Capacidad: 110 cm a 120 cm.
                                p - Desarmable con dos opciones: infantómetro y tallímetro. 
                                p - Calibración: se recomienda utilizar vara de medición de 100 cm. 
                                p - No se recomienda el uso de metros de modistería.
                
                .row.mx-3.mt-2
                    .col-5.bg-verde-oscuro.px-4.pt-6.pb-2.texto-verde-strong
                        p #[strong Para la toma de los perímetros cefálicos y del brazo:] cinta métrica. 
                        .col-12.d-flex.align-items-center.mt-5.ml-3
                            img(src="assets/images/pages/tema-1/tema-1-5.svg").img-fluid
                    .col-6.ml-1
                        .row
                            .col-12.bg-verde-oscuro.text-center.py-3
                                p.font-weight-bold Descripción 
                        .row
                            .col-12.bg-verde-claro.px-4.pt-4.pb-5.mt-1
                                p.font-weight-bold Cinta métrica
                                p.mt-3.mb-3 La cinta métrica es el instrumento utilizado para la medición de los perímetros, tanto en los niños y niñas menores de 2 años, como en los mayores de esta edad; esta cinta debe ser de un material flexible, inextensible e impermeable, con divisiones cada 1 mm. Se aconseja que la cinta mida máximo 0.5 cm de ancho, debido a que pueden presentarse errores de medición en el punto de superposición de los dos extremos de la cinta.

            .row.mx-3.mt-4
                .col-12
                        h3.font-weight-bold.color-naranja b.  Para niños y niñas mayores de 2 años

                
                .row.mx-3.mt-4
                    .col-5.bg-verde-oscuro.px-4.pt-6.pb-5.texto-verde-strong
                        p #[strong Para la toma de peso:] balanza de pie. 
                        .col-12.d-flex.align-items-center.mt-5.ml-3
                            img(src="assets/images/pages/tema-1/tema-1-6.svg").img-fluid
                    .col-6.ml-1
                        .row
                            .col-12.bg-verde-oscuro.text-center.py-3
                                p.font-weight-bold Consultorio o sitio fijo 
                        .row
                            .col-12.bg-verde-claro.p-4.mt-1
                                p.font-weight-bold Balanza de pie
                                p - Capacidad: 120 a 150 kg.
                                p - Precisión: ideal 50 gr, máximo 100 gr.
                                p - Mecanismo: digital o mecánico, con un único uso para peso, no para medir talla (sin metro).
 
                        .row
                            .col-12.bg-verde-oscuro.text-center.py-3.mt-1
                                p.font-weight-bold Trabajo de campo
                        .row
                            .col-12.bg-verde-claro.p-4.mt-1
                                p.font-weight-bold Balanza de pie
                                p - Capacidad: 120 a 150 kg.
                                p - Precisión: ideal 50 gr, máximo 100 gr. 
                                p - Mecanismo: equipo digital (portátil) con baterías.
                    
                .row.mx-3.mt-2    
                    .col-11.bg-verde-muy-claro.p-4
                        p #[strong Recomendaciones:] debe contar con una plataforma amplia. No deben utilizarse balanzas de baño (mecánica, de resorte, con sensibilidad de 500 gr), porque los datos no son codificables para el seguimiento nutricional. 
                
                .row.mx-3.mt-2
                    .col-5.bg-verde-oscuro.px-4.pt-6.pb-5.texto-verde-strong
                        p #[strong Para la toma de la talla:] tallímetro. 
                        .col-12.d-flex.align-items-center.mt-5.ml-5
                            img(src="assets/images/pages/tema-1/tema-1-7.svg").img-fluid
                    .col-6.ml-1
                        .row
                            .col-12.bg-verde-oscuro.text-center.py-3
                                p.font-weight-bold Consultorio o sitio fijo 
                        .row
                            .col-12.bg-verde-claro.p-4.mt-1
                                p.font-weight-bold Tallímetro de un material resistente, liviano, y no deformable.
                                p - Capacidad: 2 metros.
                                p - Sensibilidad: 1 mm.
                                p.mt-2 Si es tallímetro, se sugiere una base de 25 cm de ancho. No se recomienda el uso de metros de modistería, cintas métricas de papel o plástico, adheridos a la pared.
                                p.mt-2 No se recomienda el uso del tallímetro con balanzas mecánicas.

                        .row
                            .col-12.bg-verde-oscuro.text-center.py-3.mt-1
                                p.font-weight-bold Trabajo de campo
                        .row
                            .col-12.bg-verde-claro.px-4.pt-4.pb-7.mt-1
                                p.font-weight-bold Tallímetro portátil.
                                p - Capacidad: 2 metros.
                                p - Precisión: sensibilidad 1 mm. 
                                p.mt-2 Tener en cuenta la ubicación del equipo (desarmable para facilitar el transporte).

                
                .row.mx-3.mt-2
                    .col-5.bg-verde-oscuro.px-4.pt-6.pb-2.texto-verde-strong
                        p #[strong Para la toma de los perímetros cefálicos y del brazo:] cinta métrica. 
                        .col-12.d-flex.align-items-center.mt-5.ml-3
                            img(src="assets/images/pages/tema-1/tema-1-5.svg").img-fluid
                    .col-6.ml-1
                        .row
                            .col-12.bg-verde-oscuro.text-center.py-3
                                p.font-weight-bold Descripción 
                        .row
                            .col-12.bg-verde-claro.px-4.py-7.mt-1
                                p.font-weight-bold Cinta métrica
                                p.mt-3.mb-3 De acuerdo con las mismas características, descritas para los niños y niñas menores de 2 años.
 
                
                h2#tema-11.texto-verde.mt-5 1.1. Técnicas para la toma de mediciones antropométricas
                p.mt-4 Aunque las técnicas para la toma de medidas antropométricas pueden variar de acuerdo con el tipo de equipo que se esté utilizando (mecánico, electrónico, digital), se presentan, a continuación, algunas reglas básicas para tomar las medidas correspondientes.
                img(src="assets/images/pages/tema-1/tema-1-8.svg").img-fluid.mt-4

                .row.mt-5
                    .col-10.m-auto
                        .row.bg-color-gris
                            .col-7.mt-5.pl-5
                                p.font-weight-bold Toma del peso en niños y niñas menores de 2 años con pasabebé.
                                p.mt-4 A continuación, se explica el procedimiento que se debe seguir:
                            .col-5.p-0.text-right
                                img(src="assets/images/pages/tema-1/tema-1-9.svg").img-fluid
                        .row.border-bottom-dotted.mt-5
                            .col-1
                                p #[strong.color-naranja a.]
                            .col-11.mb-3
                                p Asegurar que el pesa bebé se encuentre sobre una superficie lisa, horizontal y plana.

                        .row.border-bottom-dotted.mt-3
                            .col-1
                                p #[strong.color-naranja b.]
                            .col-11.mb-3
                                p Verificar que el equipo se encuentre tarado en cero (0).

                        .row.border-bottom-dotted.mt-3
                            .col-1
                                p.mt-3 #[strong.color-naranja c.]
                            .col-11.mb-3
                                p Desvestir al niño o niña, con la ayuda del acompañante. Si esto no fuera posible, por motivos de fuerza mayor (falta de privacidad o frío), pesar al niño o niña, con ropa ligera.
                        .row.border-bottom-dotted.mt-3
                            .col-1
                                p.mt-3 #[strong.color-naranja d.]
                            .col-11.mb-3
                                p Colocar al niño o niña en el centro del platillo, canasta, silla, o bandeja de la balanza; usted no se debe apoyar en la balanza y ninguna parte del cuerpo del niño o niña, debe quedar por fuera de ella.

                        .row.border-bottom-dotted.mt-3
                            .col-1
                                p.mt-3 #[strong.color-naranja e.]
                            .col-11.mb-3
                                p Si la balanza es mecánica, ubicar las piezas móviles con el fin de obtener el peso exacto; si es electrónica o digital, simplemente leer el resultado. Para efectos del registro, en balanzas mecánicas, el peso se debe aproximar a 10 o 20 gramos, según la sensibilidad del equipo.

                        .row.border-bottom-dotted.mt-3
                            .col-1
                                p.mt-3 #[strong.color-naranja f.]
                            .col-11.mb-3
                                p Revisar la medida anotada y repetir el procedimiento para validarla. Compararla con la primera medida y, si varía en más de dos veces el valor de la sensibilidad de la báscula, pesar por tercera vez. Promediar los dos valores más cercanos; por ejemplo, si la sensibilidad de la balanza son 100 gramos y en la segunda medición se obtiene una variación mayor a 100 gramos, se debe realizar una tercera medición y promediar los dos valores más cercanos.


                .row.mt-4
                    .col-10.m-auto
                        .row
                            .col-12
                                img(src="assets/images/pages/tema-1/tema-1-10.svg").img-fluid
                        .row.border-bottom-dotted.mt-5
                            .col-1
                                p #[strong.color-naranja a.]
                            .col-11.mb-3
                                p Colocar la balanza sobre el piso, asegurar que esté firme y que no se va a mover mientras alguien se pare sobre ella.

                        .row.border-bottom-dotted.mt-3
                            .col-1
                                p #[strong.color-naranja b.]
                            .col-11.mb-3
                                p Explicar, a la madre o al cuidador, que la idea es establecer el peso, en la balanza, mientras se sostiene al niño o a la niña en los brazos.

                        .row.border-bottom-dotted.mt-3
                            .col-1
                                p.mt-3 #[strong.color-naranja c.]
                            .col-11.mb-3
                                p Pedir a la madre o al cuidador, que deje al niño o niña con la menor cantidad de ropa posible. Si se preocupa porque hace frío, lo puede cubrir, con una manta, mientras se prepara la balanza y luego explique el procedimiento a seguir y la posición en que debe cargar al niño o niña, para determinar el peso.

                        .row.border-bottom-dotted.mt-3
                            .col-1
                                p.mt-3 #[strong.color-naranja d.]
                            .col-11.mb-3
                                p Pedir a la madre o al cuidador, que se ponga de pie sobre el centro de la balanza, encima de las plantillas de la balanza, cargando al niño o niña, sosteniéndolo en los brazos pero sin dejarlo descansar sobre ellos, pegado a su cuerpo y lo más quieto posible. Esperar hasta que los números se estabilicen.

                        .row.border-bottom-dotted.mt-3
                            .col-1
                                p.mt-3 #[strong.color-naranja e.]
                            .col-11.mb-3
                                p Leer el dato del peso combinado de la madre o el cuidador, alzar al bebé y anotar el resultado en una hoja en blanco.

                        .row.border-bottom-dotted.mt-3
                            .col-1
                                p.mt-3 #[strong.color-naranja f.]
                            .col-11.mb-3
                                p Pedir a la madre o al cuidador, que se ponga de pie sobre el centro de la balanza, encima de las plantillas; esta vez, sin el niño o la niña y una vez obtenga esta cifra, restarlo al valor inicial del peso combinado y la diferencia es el peso del niño o la niña.

                        .row.border-bottom-dotted.mt-3
                            .col-1
                                p.mt-3 #[strong.color-naranja g.]
                            .col-11.mb-3
                                p Cuando se dispone de balanza con función de tara, madre-hijo, realizar el mismo procedimiento, y asegurarse de tarar el peso del auxiliar, y así el valor final corresponde al peso del niño o la niña.

                        .row.border-bottom-dotted.mt-3
                            .col-1
                                p.mt-3 #[strong.color-naranja h.]
                            .col-11.mb-3
                                p Revisar la medida anotada y repetir el procedimiento para validarla. Compararla con la primera medida, y si varía en más de dos veces el valor de la sensibilidad de la báscula, pesar por tercera vez. Promediar los dos valores más cercanos; por ejemplo, si la sensibilidad de la balanza son 100 gramos y en la segunda medición se obtiene una variación mayor a 100 gramos, se debe realizar una tercera medición, y promediar los dos valores más cercanos.


                .row.mt-4
                    .col-10.m-auto
                        .row.bg-azul-claro
                            .col-7.mt-5.pl-6
                                p.font-weight-bold Toma del peso en niños y niñas mayores de 2 años.
                                p.mt-4 A continuación, se explica el procedimiento que se recomienda practicar.

                            .col-5.p-0.text-right
                                img(src="assets/images/pages/tema-1/tema-1-11.svg").img-fluid
                        .row.border-bottom-dotted.mt-5
                            .col-1
                                p #[strong.color-naranja a.]
                            .col-11.mb-3
                                p Ubicar la báscula sobre una superficie plana y firme, y asegurar que se encuentre tarada, o en cero (0).

                        .row.border-bottom-dotted.mt-3
                            .col-1
                                p #[strong.color-naranja b.]
                            .col-11.mb-3
                                p Solicitar al usuario que se coloque de pie sobre las plantillas, ubicadas en la superficie de la báscula, con la mínima cantidad de ropa posible y que se ponga en posición recta y erguida.

                        .row.border-bottom-dotted.mt-3
                            .col-1
                                p.mt-3 #[strong.color-naranja c.]
                            .col-11.mb-3
                                p Si la balanza es mecánica, ubicar las piezas móviles, con el fin de obtener el peso exacto; si es electrónica o digital, simplemente leer el resultado.

                        .row.border-bottom-dotted.mt-3
                            .col-1
                                p.mt-3 #[strong.color-naranja d.]
                            .col-11.mb-3
                                p Anotar el peso exacto, en kilogramos, con una aproximación de 50 a 100 gramos, según la sensibilidad del equipo.
  
                        .row.border-bottom-dotted.mt-3
                            .col-1
                                p.mb-3 #[strong.color-naranja e.]
                            .col-11.mb-3
                                p Solicitar al usuario, bajarse de la báscula o balanza.

                        .row.border-bottom-dotted.mt-3
                            .col-1
                                p.mb-3 #[strong.color-naranja f.]
                            .col-11.mb-3
                                p Revisar la medida anotada y repetir el procedimiento para validarla. Compararla con la primera medida, y si varía en más de dos veces el valor de la sensibilidad de la báscula, pesar por tercera vez. Promediar los dos valores más cercanos; por ejemplo, si la sensibilidad de la balanza son 100 gramos y en la segunda medición se obtiene una variación mayor a 100 gramos, se debe realizar una tercera medición, y promediar los dos valores más cercanos.


                .row.mt-4
                    .col-10.m-auto
                        .row.bg-color-gris-claro
                            .col.my-3.pl-4.pr-0
                                p.font-weight-bold Toma de longitud.
                                p.position-inherit En el caso de niños y niñas menores de dos años, sin importar si ya se sostiene de pie, la medición se debe realizar con el niño o niña acostado(a) en posición horizontal, y la medida se denomina longitud. Esta medida se tomará de un infantómetro.

                            .col-md-4.col-lg-4.col-sm-4.col-xs-12-auto.text-right.p-0.d-flex
                                img(src="assets/images/pages/tema-1/tema-1-12.svg").img-fluid
                        .row.border-bottom-dotted.mt-5
                            .col-1
                                p #[strong.color-naranja a.]
                            .col-11.mb-3
                                p Ubicar la báscula sobre una superficie plana y firme, y asegurar que se encuentre tarada, o en cero (0).

                        .row.border-bottom-dotted.mt-3
                            .col-1
                                p #[strong.color-naranja b.]
                            .col-11.mb-3
                                p Solicitar al usuario que se coloque de pie sobre las plantillas, ubicadas en la superficie de la báscula, con la mínima cantidad de ropa posible y que se ponga en posición recta y erguida.

                        .row.border-bottom-dotted.mt-3
                            .col-1
                                p.mt-3 #[strong.color-naranja c.]
                            .col-11.mb-3
                                p Si la balanza es mecánica, ubicar las piezas móviles, con el fin de obtener el peso exacto; si es electrónica o digital, simplemente leer el resultado.

                        .row.border-bottom-dotted.mt-3
                            .col-1
                                p.mt-3 #[strong.color-naranja d.]
                            .col-11.mb-3
                                p Anotar el peso exacto, en kilogramos, con una aproximación de 50 a 100 gramos, según la sensibilidad del equipo.

                        .row.border-bottom-dotted.mt-3
                            .col-1
                                p #[strong.color-naranja e.]
                            .col-11.mb-3
                                p Solicitar al usuario, bajarse de la báscula o balanza.

                        .row.border-bottom-dotted.mt-3
                            .col-1
                                p.mt-3 #[strong.color-naranja f.]
                            .col-11.mb-3
                                p Revisar la medida anotada y repetir el procedimiento para validarla. Compararla con la primera medida, y si varía en más de dos veces el valor de la sensibilidad de la báscula, pesar por tercera vez. Promediar los dos valores más cercanos; por ejemplo, si la sensibilidad de la balanza son 100 gramos y en la segunda medición se obtiene una variación mayor a 100 gramos, se debe realizar una tercera medición, y promediar los dos valores más cercanos.

                .row.mt-4
                    .col-10.m-auto
                        .row.bg-azul-claro2
                            .col.my-3.pl-4.pr-0.pt-3
                                p.font-weight-bold Toma de talla.
                                p.position-inherit Para mayores de dos años, la medición se debe realizar de pie (posición vertical) y la medida se denomina TALLA o ESTATURA. El equipo a utilizar es el tallímetro.

                                p.position-inherit.mt-3 Tener en cuenta que el tallímetro debe estar ubicado verticalmente. Realizar pasos a continuación.

                            .col-md-4.col-lg-4.col-sm-4.col-xs-12-auto.text-right.p-0.d-flex
                                img(src="assets/images/pages/tema-1/tema-1-13.svg").img-fluid
                        .row.border-bottom-dotted.mt-5
                            .col-1
                                p #[strong.color-naranja a.]
                            .col-11.mb-3
                                p Ubicar el tallímetro sobre una superficie plana y contra una pared, que no tenga guarda escobas (zócalo). Es importante que en la base se encuentren dibujadas las plantillas o huellas de los pies, para indicar una mejor la posición en la cual el usuario pueda situarse.

                        .row.border-bottom-dotted.mt-3
                            .col-1
                                p #[strong.color-naranja b.]
                            .col-11.mb-3
                                p Ubicar al usuario contra la parte posterior del tallímetro, con los pies sobre las plantillas, en posición erguida con los talones juntos y las rodillas rectas. Puede haber usuarios que no pueden juntar totalmente los pies. Verificar que no tenga puestos los zapatos, ni lleve adornos sobre la cabeza.

                        .row.border-bottom-dotted.mt-3
                            .col-1
                                p.mt-3 #[strong.color-naranja c.]
                            .col-11.mb-3
                                p Verificar que la parte de atrás de los talones, las pantorrillas, los glúteos, el tronco, los hombros y la espalda, toquen la tabla vertical. Los talones no deben estar levantados y los brazos deben colgar a los lados del tronco, con las palmas hacia los muslos. La madre o acompañante, debe sostener y presionar suavemente contra la tabla vertical, con una mano, las rodillas y, con la otra, los tobillos.

                        .row.border-bottom-dotted.mt-3
                            .col-1
                                p.mt-3 #[strong.color-naranja d.]
                            .col-11.mb-3
                                p Solicitar al usuario que mire al frente y, posteriormente, sujetar su mentón para mantener la cabeza en esta posición (plano de Frankfort) y pedir que realice una inspiración profunda sin levantar los hombros. Con la mano derecha, deslizar la pieza movible hacia el vértice (coronilla) de la cabeza, hasta que se apoye suavemente sobre esta. Cuidar que el niño o niña, no doble la espalda (joroba) ni se empine.

                        .row.border-bottom-dotted.mt-3
                            .col-1
                                p.mt-3 #[strong.color-naranja e.]
                            .col-11.mb-3
                                p Una vez que la posición del usuario se encuentre correcta, leer prontamente el valor que marca la pieza movible, ubicarse frente a ella y anotarlo con una aproximación de 0.1 cm. Retirar la pieza movible de la cabeza del usuario y la mano del mentón.

                        .row.border-bottom-dotted.mt-3
                            .col-1
                                p.mt-3 #[strong.color-naranja f.]
                            .col-11.mb-3
                                p Revisar la medida anotada y repetir el procedimiento para validarla. Compararla con la primera medición y si varía en más de 0.5 cm, medir por tercera vez y promediar los dos valores para que obtengan una variabilidad hasta de 0.5 cm.

                        p.mt-3 Se recomienda que el responsable de la valoración, cuente con el apoyo de un auxiliar para la toma de las medidas y así poder aplicar la técnica lo mejor posible. Este apoyo también lo puede ofrecer el acompañante del niño o niña, atendiendo a las indicaciones del profesional de la salud que está realizando la valoración.

                
                .row.mt-4
                    .col-10.m-auto
                        .row.bg-color-gris-claro2
                            .col.my-3.pl-4.pr-0.pt-3
                                p.font-weight-bold Toma de perímetro cefálico.
                                p.position-inherit.mt-3 El perímetro cefálico o craneal, es la medida del contorno de la cabeza, en su parte más grande, y se mide utilizando una cinta métrica. 

                                p.position-inherit.mt-3 Mantener al niño o niña con la cabeza fija y retirar de su cabeza, ganchos, moños gorros, etc., que interfieran con la medición.

                                p.position-inherit.mt-3 Se mide la distancia que va desde la parte por encima de las cejas y de las orejas, alrededor de la parte posterior de la cabeza.

                                p.position-inherit.mt-3 Para esto, se pasa la cinta alrededor de la cabeza, cse coloca con firmeza sobre las protuberancias frontales y sobre la prominencia del occipital.

                            .col-md-5.col-lg-5.col-sm-5.col-xs-12-auto.text-right.p-0.d-flex
                                img(src="assets/images/pages/tema-1/tema-1-14.svg" align="right").img-fluid

                .row.mt-5
                    .col-10.m-auto
                        .row.bg-color-piel
                            .col.my-3.pl-4.pr-0.pt-3
                                p.font-weight-bold Toma del perímetro del brazo.

                                p.position-inherit.mt-3 Para tomar el perímetro del brazo, se utiliza una cinta métrica con la que se rodea la parte media del brazo en posición relajada, sin hacer presión sobre la piel, y se lee el valor de esa circunferencia. Para realizar la medición, se recomienda realizar los pasos a continuación.

                            .col-md-5.col-lg-5.col-sm-5.col-xs-12-auto.text-right.p-0.d-flex
                                img(src="assets/images/pages/tema-1/tema-1-15.svg").img-fluid
                
                .row.mt-4
                    .col-10.m-auto
                        .row.border-bottom-dotted.mt-5
                            .col-1
                                p #[strong.color-naranja a.]
                            .col-11.mb-3
                                p Seleccionar el brazo no dominante. El brazo no dominante de un niño o niña derecho(a), es el izquierdo y viceversa. Mantener al niño(a) con la cabeza fija en un punto.

                        .row.border-bottom-dotted.mt-3
                            .col-1
                                p #[strong.color-naranja b.]
                            .col-11.mb-3
                                p Medir la distancia entre el acromion (apéndice de la clavícula) y el olecranon (apéndice del húmero). Marque el punto medio entre ambos, con esfero o marcador.

                        .row.border-bottom-dotted.mt-3
                            .col-1
                                p.mt-3 #[strong.color-naranja c.]
                            .col-11.mb-3
                                p Dejar caer el brazo del niño o niña de manera natural y, sobre la marcación anterior, enrollar la cinta métrica horizontalmente.

                        .row.border-bottom-dotted.my-3
                            .col-1
                                p.mt-3 #[strong.color-naranja d.]
                            .col-11.mb-3
                                p Verificar que la cinta no se halle ni muy apretada, ni muy suelta, y leer el número que aparece en la intersección. Dicho número es el perímetro del brazo.
