.container

    .header-ecored
        h1 3. Aplicación práctica

    .card.bg-color-gris-claro3.mb-0
        .card-body.py-0
            .row.justify-content-center
                .col.my-3.pl-4.pr-0.pt-3
                    p.position-inherit.mt-3.ml-3 A un consultorio médico, llegan cuatro niños para consulta; uno de ellos, un niño sano que asiste a consulta de valoración integral de la salud y el desarrollo; los otros tres niños, porque presentan síntomas de enfermedad. Revisar cada uno de los casos presentados.

                .col-md-5.col-lg-5.col-sm-5.col-xs-12-auto.text-right.p-0.d-flex
                    img(src="assets/images/pages/tema-3/tema-3-1.svg" align="right").img-fluid

    .card.mt-0
        .card-body
            <div class="b-white" style="height: 75vh;"> </div>
            